.container {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  &__inner {
    height: 100%;
  }
}

.left, .right {
  width: 50%;
  float: left;
}

.left {background-color: lightblue};
.right {background-color: red};
